@import "~@/theme/style/variables.styl";

.el-menu--popup
.el-menu.ingot-sidebar-menu
  border-right none !important
  .el-menu-item
  .el-submenu__title
    height sidebar-menu-height
    .menu-title
      margin-left 25px
    .menu-icon
      position absolute
      width sidebar-menu-icon-size
      height sidebar-menu-icon-size
      top "calc((%s - %s) / 2)" % (sidebar-menu-height @height)
      left "calc((%s - %s) / 2)" % (sidebar-collapse-width @width)
  .el-menu--inline
    .menu-icon
      position absolute
      width sidebar-menu-icon-size
      height sidebar-menu-icon-size
      top "calc((%s - %s) / 2)" % (sidebar-menu-height @height)
      left "calc((%s - %s) / 2 + %s)" % (sidebar-collapse-width @width @width)
  .el-submenu .el-menu-item
    height sidebar-menu-height
    line-height @height
.el-menu--collapse
  width sidebar-collapse-width