@import "./variables.styl"

sidebar-width = 180px

.content-container
  padding-top nav-bar-height
  height "calc(100vh - %s)" % nav-bar-height
  margin-left sidebar-width
  transition @margin-left .28s

.sidebar-container
  box-shadow rgba(0, 0, 0, 0.08) 1px 0px 4px 0px
  transition width 0.1s
  padding-top nav-bar-height
  width sidebar-width !important
  height "calc(100vh - %s)" % nav-bar-height !important
  z-index 100
  overflow hidden
  position fixed !important
  top 0
  left 0
  bottom 0
  .horizontal-collapse-transition 
    transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
  .el-scrollbar__bar.is-vertical
    right: 0px;
  .scrollbar-wrapper
    overflow-x hidden !important
    .el-scrollbar__view 
      height 100%

.hide-sidebar
  .content-container
    margin-left sidebar-collapse-width
  .sidebar-container
    // width 0px !important
    width sidebar-collapse-width !important 
    // 隐藏时候不显示菜单，所以有如上注释