.el-header {
  --el-header-padding: var(--in-app-bar-padding);
  --el-header-height: var(--in-app-bar-height);
}

.el-tabs {
  --el-tabs-header-height: var(--in-tabs-height);
}

.el-menu {
  --el-menu-bg-color: var(--in-menu-bg-color);
  --el-menu-hover-bg-color: var(--in-menu-bg-hover-color);
  --el-menu-text-color: var(--in-menu-text-color);
  --el-menu-active-color: var(--in-menu-text-active-color);
  --el-menu-base-level-padding: var(--in-menu-base-level-padding);
}
