.el-header {
  --el-header-padding: var(--app-bar-padding);
  --el-header-height: var(--app-bar-height);
}

.el-tabs {
  --el-tabs-header-height: var(--tabs-height);
}

.el-menu {
  --el-menu-bg-color: var(--sidebar-bg-color);
  --el-menu-hover-bg-color: var(--sidebar-bg-hover-color);
  --el-menu-text-color: var(--sidebar-text-color);
  --el-menu-active-color: var(--sidebar-text-active-color);
}
